
.card-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.card-holder.active{
    background-color: #303030;
}
/* .team-card-bg{
    width: 50vh;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

} */


@media screen and (max-width: 740px){
    .card-holder{
        flex-direction: column;
    }

}
@media screen and (max-width: 657px){
    .card-holder{
    padding-top: 68px;

    }

}