.team-card{
    background-color: #E7E6E2;
    height: 230px;
    width: 200px;
    border-radius: 15px;
    margin: 30px;
    padding: 10px;

}
.team-card-action{
    background-color: transparent;
    height: 25px;
}
.team-para{
    overflow: hidden;
    white-space: nowrap;
    width: 10ch;
    text-overflow: ellipsis;
    text-align: center;
}
.edit{
    background-image: url("/src/Drawebles/edit.png");
    float: right;
    height: 24px;
    background-color: transparent;
    border: none;
    width: 24px;
}
.delete{
    background-image: url("/src/Drawebles/delete.png");
    float: right;
    height: 24px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    width: 24px;
}
.team-card-btn{
    background-color: #6c63ff;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-weight: 500;
    border: none;
    height: 39px;
    width: 112px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;

}
.team-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}